rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /surveys/{surveyId} {
      match /responses/{userId} {
        allow create: if 
          request.time == request.resource.data.timestamp
          && request.auth.uid == userId
          && surveyId in ['psqi', 'dass', 'leafq'];

        // TODO - remove this for production & limit logins from IP to 5/hour
        // allow update: if 
        //   request.time == request.resource.data.timestamp
        //   && request.auth.uid == userId
        //   && surveyId in ['psqi', 'dass', 'leafq'];
      }
    }
  }
}