.card-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  a {
    display: inline-block;
    font-size: 1em;
    line-height: 1.2em;
    height: 1.2em;
    width: 1.2em;
    font-weight: bold;
    border: 1px solid;
    border-radius: 1.2em;
    text-align: center;

    text-decoration: none !important;
  }
}